<!DOCTYPE html>
<html>
<head>
    <title>Django app</title>
</head>
<body>
    <header>
        <a href="/">Pradžia</a>
        {% if request.user.is_authenticated %}
            Prisijunges: <b>{{ request.user.username }}</b>
            {{ request.user.name }} 
            {{ request.user.surname }}
            <a href="/logout">Atsijungti</a>
        {% else %}
            Prisijunkite, kad galėtumėte pildyti formas
        {% endif %}
    </header>
    {% block content %}{% endblock %}
</body>
</html>
